#HeadingInfo
	{
		font-family:"Segoe UI";
		width:100%;
		border-collapse:collapse;
	}
#HeadingInfo td, #HeadingInfo th
	{
		font-size:0.8em;
		padding:3px 7px 2px 7px;
	}
#HeadingInfo th
	{
		font-size:2.0em;
		font-weight:normal;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#fff;
		color:#000;
	}
#section
	{
		font-family:"Segoe UI";
		width:100%;
		border-collapse:collapse;
	}
#section th.data
	{
		font-size:1.2em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#fff;
		color:#000;
	}
#data
	{
		font-family:"Segoe UI";
		width:100%;
		border-collapse:collapse;
	}
#data td, #data th
	{
		font-size:0.8em;
		border:1px solid #DDD;
		padding:3px 7px 2px 7px;
	}
#data th
	{
		font-size:0.8em;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#fff;
		color:#000; text-align:left;
	}
#data td
	{ 	font-size:0.8em;
		padding-top:5px;
		padding-bottom:4px;
		text-align:left;
	}